.container {
    width: 100%;
    background-color: transparent !important;
    padding-top: 12px;

    .header {
        background-color: transparent;
    }
    
    .content {
        padding-bottom: 12px;
    }    
}